html {
    background-image: url(../images/default.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

/* hide scrollbar but keep scrolling */
body::-webkit-scrollbar { 
    display: none;
}

body {
    padding: 15px;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
    /* overflow: hidden; */
}

/* background fix */
/*
#wrapper {
    background: transparent !important;
}

.container-fluid {
    height: 100vh;
}
*/

#map {
    width: 100%;
    height: 145px;
}

.card {
    background: rgba(50, 50, 50, 0.6);
}

#current-time {
    margin: 0;
    font-size: 50px;
}

#current-date {
    margin: 0.2em 0 0.2em 0;
    font-size: 25px;
}

#current-day {
    margin: 0;
    font-size: 14px;
}

#coord {
    padding-top: 5px;
    margin-bottom: -5px;
    font-size: 14px;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

h2#speed {
    margin-bottom: 15px;
}

@keyframes blinker {
    50% { opacity: 0; }
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes module-blinker {
    50% { background-color: rgba(50, 50, 50, 0.6); }
}

.card-blink-error {
    background-color: rgba(220, 53, 69, 0.8);
    border-radius: var(--bs-border-radius);
    animation: module-blinker 1.4s infinite;
}

.card-blink-warning {
    background-color: rgba(255, 175, 0, 0.3);
    border-radius: var(--bs-border-radius);
    animation: module-blinker 1.4s infinite;
}

