html {
    background-image: url(../resources/wallpaper/default.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    padding: 15px;
    background-color: #333030;
    background: rgba(0, 0, 0, 0.6) !important;
}

.large-hide {
    display: none;
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
    body {
        font-size: 70%;
    }

    h3 {
        font-size: 140%;
        font-weight: bold;
    }

    #camera-wide img, #camera-regular img {
        width: 150px !important;
        margin: 0.3em !important;
    }

    .small-hide {
        display: none;
    }

    .large-hide {
        display: block;
    }
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* background fix */
#wrapper {
    background: transparent !important;
}

.node-down {
    opacity: 0.3;
}

.rtinfo table a:link, table a:hover, table a:visited {
    text-decoration: none !important;
}

.table {
    margin-bottom: 0;
}

:root {
    --bs-bg-opacity: 0.4;
}

.card {
    --bs-card-spacer-y: 0.4rem;
    --bs-card-cap-bg: rgba(255, 255, 255, 0.05);
}

.badge {
    --bs-bg-opacity: 1;
}

.table-dark {
    --bs-table-bg: transparent;
}

.col-fixed {
    width: 160px;
}

@keyframes redshadow {
    from { text-shadow: 0px 0px 15px #F4A0A0; }
    to { text-shadow : none; }
}

.rtinfo .text-danger {
    animation: none !important;
}

table.devices .offline {
    opacity: 0.5;
}

.darker {
    opacity: 0.3;
}

@keyframes blinker {
    50% { opacity: 0; }
}

#disconnected {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #A52A2A;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes error-blinker {
    50% { background-color: #222222; }
}

.system-error {
    background-color: #792525;
    animation: error-blinker 2s infinite;
}

#camera-wide img, #camera-regular img {
    width: 280px;
    margin: 0.3em;
}

video {
    width: 100%;
}
